[Desktop Entry]
Type=Application
Name=Simpbar Config
Comment=Configure simpbar's appearance, module layout, and desktop shortcuts
Exec=simpbar-config
Icon=preferences-desktop-display-symbolic
Terminal=false
Categories=Settings;
StartupNotify=true
